*{
  padding: 0;
  margin: 0;
}
body, html{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
.pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.pimg1{
  background-image: url('Raja Ampat2.jpg');
  min-height: 100%;
}
.pimg2{
  background-image: url('Raja Ampat.missol.jpg');
  min-height: 700px;
}
.pimg3{
  background-image: url('Raja Ampat.salawati.jpg');
  min-height: 700px;
}
.pimg4{
  background-image: url('Raja Ampat.stasiun.jpg');
  min-height: 700px;
}
.pimg5{
  background-image: url('Raja Ampat.wayag.jpg');
  min-height: 700px;
}
section{
  text-align: center;
  padding: 50px 80px;
}
.section-light{
  background-color: #f4f4f4;
  color: #666;
}
.section-dark{
  background-color: #282e34;
  color: #ddd;
}
.text1{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.text1 .border{
background-color: #111;
color: #fff;
padding: 20px;
}
.text1 .border.trans{
  background-color: transparent;
}
