body
{
  background-image: url(hias/t1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background: linear-gradient(135deg, #325adf 0%, #e7530f 100%); */
}

header {
    /*background-color: #01292f;*/
    overflow: hidden;
    margin: -8px;}
   nav {
    float: right;
    margin-right: 48px;
   }
   ul {
    float: right;
    list-style: none;
    margin: 14px;
   }
   li {
     display: inline-block;
     width: 60px;
     text-align: center;
     padding-top: 40px;
     padding-left: 25px;

   }
   ul li{
    display: inline-block;
   }
   ul li a{
    text-decoration: none;
    color: blanchedalmond;
    padding: 5px 0;
    border: 1px solid transparent;
    transition: 0.6s ease;
    font-family: sans-serif;
   }
   ul li a:hover{
    background-color: rgb(27, 76, 224);
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    transition-duration: 0.5s;
   }
   .atas{
    max-width: 1200px;
    margin: auto;
   }
   p{
    text-align: left;
    font-size: 20px;
    color: rgb(233, 209, 177);
   }
   @media (max-width: 700px){
   p{
    text-align: left;
    font-size:10px;
    color:#e7530f;
   }
   }
   @media (max-width: 1000px){
    p{
    text-align: justify;
    font-size:10px;
    color:darkred;
    }
    }
    h1:hover{
      color : black;
      transition: 1s;
    }
