body {
  background-image: url(hias/t2.jpg); background-repeat: no-repeat; background-size: cover;
}
.welcome {color: white;
  width:50%;
margin-top: 20px;
display : block;
background-color: rgba(61, 8, 238, 0.47);
margin: 25px auto 0 auto;
border-radius: 20px;
height: 100px;
font-size: 40px;
margin-bottom: 70px;}
h2 {
font-size: 80px;
}
.welcome:hover{
  color : black;
  transition: 1s;
  transform: scale(1.5);
}
#start {
  display: block;
  margin: 25px auto 0 auto;
  background-color: white;
  width: 20%;
  height: 50px;
  text-align: center;
  border-radius: 70px;
  font-size: 40px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s.ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-out;
}
a {
  text-decoration: none;

}
#start:hover {
background-color: grey;
-webkit-transform:scale(1.2);
-moz-tranform: scale(1.2);
-o-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}
